* {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template: 1fr 10fr / 1fr 8fr;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    background-color: #0284C7;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px;
    gap: 4%;
    color: white;
}

/* Make the SVGs white */
.sidebar img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(239deg) brightness(103%) contrast(101%);
}

.logo {

}

.menu {
    display: grid;
    grid-template-columns: 15% 1fr;
    gap: 12px;
}

.menu div div {
    padding-top: 5%;
}

.upperMenu {
    grid-template-rows: repeat(6, 1fr);
}

.lowerMenu {
    grid-template-rows: repeat(3, 1fr);
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template: 1fr 1fr / 70% 30%;
    padding: 1%;
    box-shadow: 0px 2px 5px red;
}

.header input {
    background-color: #E2E8F0;
    border-radius: 30px;
    width: 70%;
    border: none;
}

.header button {
    border: none;
    background-color: transparent;
}

.headButtons {
    display: flex;
    justify-content: space-around;
}

.headButtons button {
    background-color: #0284C7;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 3% 5%;
}

.content {
    background-color: #E2E8F0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    overflow: auto;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 5% 1fr;
    padding: 1.5% 1%;
    gap: 30px;
}

.sectionTitle {
    font-weight: bold;
}

.cards {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(100px , 1fr)); 
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 30px;
}

.card {
    background-color: whitesmoke;
    box-shadow: 3px 3px 3px black;
   /* width: max(50% ,1rem); */
   padding: 8% 6%;
   border-radius: 10px;
   border-left: 10px solid #F0B429;
   display: flex;
   flex-direction: column;
   font-weight: bold;
}

.card p {
    color: #777777;
    overflow: auto;
    margin-bottom: 0px;
    font-size: smaller;
    font-weight: lighter;
}

.cardFooter {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.cardFooter button {
    background-color: transparent;
    border: none;
}

.sideCards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sideCards .card {
    flex-grow: 5;
    flex-shrink: 1;
    flex-basis: 200px;
    border: none;
}

.cardSegment {
    border-bottom: 1px solid #777777;
}

.trending { 
    display: grid;
}

