* {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template: 1fr 10fr / 1fr 8fr;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    background-color: #0284C7;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px;
    gap: 4%;
    color: white;
}

/* Make the SVGs white */
.sidebar img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(239deg) brightness(103%) contrast(101%);
}

.logo {

}

.menu {
    display: grid;
    grid-template-columns: 15% 1fr;
    gap: 12px;
}

.menu div div {
    padding-top: 5%;
}

.upperMenu {
    grid-template-rows: repeat(6, 1fr);
}

.lowerMenu {
    grid-template-rows: repeat(3, 1fr);
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template: 1fr 1fr / 70% 30%;
    padding: 1%;
    box-shadow: 0px 2px 5px red;
}

.header input {
    background-color: #E2E8F0;
    border-radius: 5px;
    width: 70%;
}

.headButtons {
    display: flex;
    justify-content: space-around;
}

.content {
    background-color: #E2E8F0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    overflow: auto;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 5% repeat(4, 1fr);
    padding: 1.5% 1%;
    gap: 15px;
}

.cards {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(100px , 1fr)); 
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 20px;
}

.card {
    background-color: whitesmoke;
    box-shadow: 3px 3px 3px black;
}
